# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.env

# Virtual environments
venv/
env/
.env/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Databases
*.sqlite3

# Other
*.pid